##### DJANJO
/Django/manage.py
/Django/venv/
/Django/eventhub_project/
/Django/api/migrations/
/Django/db.sqlite3

# python cache
/Django/__pycache__/
/Django/api/__pycache__/


###### NODE
/Node/node_modules/
/Node/.env